@require "../../themes"

*
  font-family: sans-serif

html,
body,
#app > *
  height: 100%

#app
  position: fixed
  right: 5px
  left: 5px
  top: 20px
  bottom: 20px

.anotify
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
